@charset "UTF-8";
/*---VARIABLES DE COLOR---*/
/*----colores---*/
/*---VARIABLES DE TIPOGRAFÍA---*/
/*----familia de fuente----*/
/*----tamaños de fuente----*/
/*-----MÁRGENES Y PADDINGS-----*/
/*-----MEDIA QUERIES-----*/
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: #FBF5F0;
  min-height: 100vh;
  position: relative;
}

main {
  background-color: #FBF5F0;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10rem;
}
@media only screen and (min-width: 64rem) {
  main {
    padding-left: 10%;
    padding-right: 10%;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

h1,
.h1 {
  font-family: "Abril Fatface", cursive;
  font-size: 3.6rem;
  font-weight: 100;
  margin: 0;
}
@media only screen and (min-width: 36rem) {
  h1,
  .h1 {
    font-size: 3.6rem;
  }
}
@media only screen and (min-width: 64rem) {
  h1,
  .h1 {
    font-size: 4.8rem;
  }
}
@media only screen and (min-width: 90rem) {
  h1,
  .h1 {
    font-size: 6.4rem;
  }
}

h2,
.h2 {
  font-family: "Abril Fatface", cursive;
  font-size: 2.4rem;
  font-weight: 100;
  margin: 0;
}
@media only screen and (min-width: 90rem) {
  h2,
  .h2 {
    font-size: 4.8rem;
  }
}

h3,
.h3 {
  font-family: "Abril Fatface", cursive;
  font-size: 2rem;
  font-weight: 100;
  margin: 0;
}
@media only screen and (min-width: 36rem) {
  h3,
  .h3 {
    font-size: 2.4rem;
  }
}
@media only screen and (min-width: 90rem) {
  h3,
  .h3 {
    font-size: 3.6rem;
  }
}

h4,
.h4 {
  font-family: "Abril Fatface", cursive;
  font-size: 2rem;
  font-weight: 100;
  margin: 0;
}
@media only screen and (min-width: 90rem) {
  h4,
  .h4 {
    font-size: 2.4rem;
  }
}

h5,
.h5 {
  font-family: "Abril Fatface", cursive;
  font-size: 1.4rem;
  font-weight: 100;
  margin: 0;
}
@media only screen and (min-width: 90rem) {
  h5,
  .h5 {
    font-size: 2rem;
  }
}

h6,
.h6 {
  font-family: "Abril Fatface", cursive;
  font-size: 1.4rem;
  font-weight: 100;
  margin: 1em 0 0 0;
}
@media only screen and (min-width: 48rem) {
  h6,
  .h6 {
    font-size: 1.8rem;
  }
}

/*---parrafos---*/
p,
a {
  font-family: "Marcellus", serif;
}

p.font-size-24-s {
  font-size: 2rem;
  margin: 0;
}
@media only screen and (min-width: 64rem) {
  p.font-size-24-s {
    font-size: 2.4rem;
  }
}

p.font-size-20-xs {
  font-size: 1.8rem;
  margin: 0;
}
@media only screen and (min-width: 64rem) {
  p.font-size-20-xs {
    font-size: 2rem;
  }
}

p.font-size-16-xxs {
  font-size: 1.4rem;
  margin: 0;
}
@media only screen and (min-width: 90rem) {
  p.font-size-16-xxs {
    font-size: 1.8rem;
  }
}

/*-----mapa y loop de tamaños tipografía---*/
.font-size-16-xxs {
  font-size: 1.4rem;
}

.font-size-20-xs {
  font-size: 1.8rem;
}

.font-size-24-s {
  font-size: 2rem;
}

.font-size-36-m {
  font-size: 2.4rem;
}

.font-size-48-l {
  font-size: 3.6rem;
}

.font-size-64-xl {
  font-size: 4.8rem;
}

.font-size-96-xxl {
  font-size: 6.4rem;
}

.header-bg {
  background-color: #E3D3BA;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(18%, #E3D3BA), color-stop(87%, #F7F3EA), to(#FBF5F0));
  background-image: linear-gradient(180deg, #E3D3BA 18%, #F7F3EA 87%, #FBF5F0 100%);
  width: 100vw;
  padding: 3.6rem 2.4rem 3.6rem 2.4rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media only screen and (min-width: 48rem) {
  .header-bg {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 6rem 10% 6rem 10%;
  }
}
@media only screen and (min-width: 64rem) {
  .header-bg {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 10.8rem 10% 10.8rem 10%;
  }
}
@media only screen and (min-width: 90rem) {
  .header-bg {
    padding: 12rem 10% 12rem 10%;
  }
}

.brand,
.subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #454037;
  padding-bottom: 3.6rem;
}
@media only screen and (min-width: 64rem) {
  .brand,
  .subtitle {
    padding-bottom: 4.8rem;
  }
}

.subtitle {
  color: #454037;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.3rem;
}
@media only screen and (min-width: 64rem) {
  .form-container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

input[type=text] {
  font-family: "Marcellus", serif;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  height: 2em;
  width: 25rem;
  border-radius: 2px;
  border: none;
  border-bottom: 2px solid #5D5242;
  background-color: #ffffff;
}
@media only screen and (min-width: 64rem) {
  input[type=text] {
    height: 3em;
  }
}
input[type=text]:focus {
  border-radius: 2px;
  outline: none;
  border: 2px solid #5D5242;
}

button {
  background-color: #5D5242;
  color: #1B171C;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  height: 2.2em;
  border-radius: 2px;
  border: 2px solid #5D5242;
  font-family: "Marcellus", serif;
}
button[type=submit] {
  color: #ffffff;
}
@media only screen and (min-width: 64rem) {
  button {
    height: 3.3em;
  }
}

.search-result {
  display: -ms-grid;
  display: grid;
  grid-gap: 3.5rem;
  grid-template: auto/repeat(auto-fit, minmax(30rem, 1fr));
  justify-items: center;
}

.recipe {
  text-align: center;
  color: #5D5242;
  max-width: 35rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  border: #F7F3EA 1px solid;
  background-color: #FBF5F0;
  -webkit-box-shadow: -5px 4px 15px -10px rgb(164, 173, 166);
          box-shadow: -5px 4px 15px -10px rgb(164, 173, 166);
}
.recipe__tittle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.recipe__link {
  text-decoration: underline;
  color: #1B171C;
}
.recipe__link:hover {
  font-weight: 900;
}
.recipe__category {
  color: #1B171C;
}
.recipe__info {
  padding: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.recipe-img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2px;
}