@charset "UTF-8";
/*---VARIABLES DE COLOR---*/
/*----colores---*/
/*----Variables de color para BG----*/
/*---VARIABLES DE TIPOGRAFÍA---*/
/*----familia de fuente----*/
/*----tamaños de fuente----*/
/*-----MÁRGENES Y PADDINGS-----*/
/*-----MEDIA QUERIES-----*/
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: #FEFEDE;
}

h1,
.h1 {
  font-family: "Abril Fatface", cursive;
  font-size: 3.6rem;
  font-weight: 100;
  margin: 0;
}
@media only screen and (min-width: 36rem) {
  h1,
  .h1 {
    font-size: 3.6rem;
  }
}
@media only screen and (min-width: 64rem) {
  h1,
  .h1 {
    font-size: 4.8rem;
  }
}
@media only screen and (min-width: 90rem) {
  h1,
  .h1 {
    font-size: 6.4rem;
  }
}

h2,
.h2 {
  font-family: "Abril Fatface", cursive;
  font-size: 2.4rem;
  font-weight: 100;
  margin: 0;
}
@media only screen and (min-width: 90rem) {
  h2,
  .h2 {
    font-size: 4.8rem;
  }
}

h3,
.h3 {
  font-family: "Abril Fatface", cursive;
  font-size: 2rem;
  font-weight: 100;
  margin: 0;
}
@media only screen and (min-width: 36rem) {
  h3,
  .h3 {
    font-size: 2.4rem;
  }
}
@media only screen and (min-width: 90rem) {
  h3,
  .h3 {
    font-size: 3.6rem;
  }
}

h4,
.h4 {
  font-family: "Abril Fatface", cursive;
  font-size: 2rem;
  font-weight: 100;
  margin: 0;
}
@media only screen and (min-width: 90rem) {
  h4,
  .h4 {
    font-size: 2.4rem;
  }
}

h5,
.h5 {
  font-family: "Abril Fatface", cursive;
  font-size: 1.4rem;
  font-weight: 100;
  margin: 0;
}
@media only screen and (min-width: 90rem) {
  h5,
  .h5 {
    font-size: 2rem;
  }
}

h6,
.h6 {
  font-family: "Abril Fatface", cursive;
  font-size: 1.4rem;
  font-weight: 100;
  margin: 1em 0 0 0;
}
@media only screen and (min-width: 48rem) {
  h6,
  .h6 {
    font-size: 1.8rem;
  }
}

/*---parrafos---*/
p {
  font-family: "Marcellus", serif;
}

p.font-size-24-s {
  font-size: 2rem;
  margin: 0;
}
@media only screen and (min-width: 64rem) {
  p.font-size-24-s {
    font-size: 2.4rem;
  }
}

p.font-size-20-xs {
  font-size: 1.8rem;
  margin: 0;
}
@media only screen and (min-width: 64rem) {
  p.font-size-20-xs {
    font-size: 2rem;
  }
}

p.font-size-16-xxs {
  font-size: 1.4rem;
  margin: 0;
}
@media only screen and (min-width: 90rem) {
  p.font-size-16-xxs {
    font-size: 1.8rem;
  }
}

/*-----mapa y loop de tamaños tipografía---*/
.font-size-16-xxs {
  font-size: 1.4rem;
}

.font-size-20-xs {
  font-size: 1.8rem;
}

.font-size-24-s {
  font-size: 2rem;
}

.font-size-36-m {
  font-size: 2.4rem;
}

.font-size-48-l {
  font-size: 3.6rem;
}

.font-size-64-xl {
  font-size: 4.8rem;
}

.font-size-96-xxl {
  font-size: 6.4rem;
}

.header-bg {
  background-color: #76E3A7;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #76E3A7), color-stop(77%, #ffffb2), to(#FEFEDE));
  background-image: linear-gradient(180deg, #76E3A7 20%, #ffffb2 77%, #FEFEDE 100%);
  width: 100vw;
  padding: 6rem;
}

.contain-header-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.2rem;
}
@media only screen and (min-width: 64rem) {
  .contain-header-form {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 1.2rem 6rem 1.2rem 6rem;
  }
}

input[type=text] {
  font-family: "Marcellus", serif;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  height: 2em;
  border-radius: 2px;
  border: none;
  border-bottom: 2px solid #76E3A7;
  background-color: #ffffff;
}
input[type=text]:focus {
  border-radius: 2px;
  outline: none;
  border: 2px solid #76E3A7;
}

button {
  background-color: #76E3A7;
  color: #1B171C;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  height: 2em;
  border-radius: 2px;
  border: 2px solid #76E3A7;
  font-family: "Marcellus", serif;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}