img {
    width: 100%;
    height: auto;
    // object-fit: cover;

    border-radius: 2px;
}

.card {
    width: 100%;

    box-sizing: border-box;

    border-radius: 2px;
    border: $color-green-lighten 1px solid;
    background-color: $color-yellow-lightest;

    &__tittle {
        text-decoration: none;
        color: $color-green-darken;
    }

    &__info {
        padding: sp(xs);

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}

//modificar tamaños de foto según resolución!!!