.card__popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: $color-brown-darken;
  border-radius: 2px;
  width: 85%;
  height: 70%;

  overflow-y: scroll;

  @include mq($bp-small-tablet) {
    //576px
    width: 70%;
    height: 70%;
  }

  @include mq($bp-tablet) {
    //576px
    width: 40%;
    height: 70%;
  }

  //Para dar estilo a la scrollbar y  asegurarnos de que se ve en todos los navegadores
  &::-webkit-scrollbar {
    width: 1.8rem;
  }

  //Para dar estilo a la scrollbar y  asegurarnos de que se ve en todos los navegadores
  &::-webkit-scrollbar {
    width: 1.8rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-brown-lighten;
    border-radius: 2px;
  }

  &-info {
    padding: sp(xxs);
    padding-top: 0;

    @include mq($bp-small-tablet) {
      //576px
      padding: sp(xs);
      padding-top: 0;
    }
  }

  &-title {
    text-align: center;
    text-decoration: underline;
    margin-bottom: sp(xs);
  }

  &-ingredients {
    line-height: 25px;
    margin-bottom: 20px;
    margin-left: -20px;
  }

  &-instructions p {
    line-height: 25px;
    margin-bottom: 15px;
  }
}

li {
  list-style: none;
  font-family: $font-primary;
}
