.header-bg {
    background-color: $color-green;
    background-image: linear-gradient(180deg, 
                        $color-green 20%, 
                        $color-yellow 77%,
                        $color-yellow-lighten 100%);
    width: 100vw;
    padding-top: sp(s);
    padding-bottom: sp(s);
    
    @include mq ($bp-small-desktop) { //1024px
        padding: sp(l);
    }
}

.brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: sp(xxs);
    color: white;

    @include mq ($bp-small-desktop) { //1024px
        padding-bottom: sp(s);
    }
}

.contain-header-form {
    display: flex;
    justify-content: center;
    padding: sp(xxs);

    @include mq ($bp-small-desktop) { //1024px
        justify-content: flex-end;
        padding: sp(xxs) sp(l) sp(xxs) sp(l);
    }
}

.header-form {
    display: flex;
    flex-direction: row;
    gap: .3rem;
}

input[type="text"] {
    font-family: $font-primary;
    padding-left: sp(xs);
    padding-right: sp(xs);
    height: 2em;
    border-radius: 2px;
    border: none;
    border-bottom: 2px solid $color-green;
    background-color: $color-white;

    @include mq ($bp-small-desktop) { //1024px
        height: 3em;
        width: 20em;
    }

    &:focus {
        border-radius: 2px;
        outline: none;
        border: 2px solid $color-green;
    }
}

button {
    background-color: $color-green;
    color: $color-black;
    padding-left: sp(xs);
    padding-right: sp(xs);
    height: 2.2em;
    border-radius: 2px;
    border: 2px solid $color-green;
    font-family: $font-primary;

    @include mq ($bp-small-desktop) { //1024px
        height: 3.3em;
    }
}

