.header-bg {
    background-color: $color-brown;
    background-image: linear-gradient(180deg, 
                        $color-brown 18%, 
                        $color-brown-lighten 87%,
                        $color-brown-lightest 100%);
    

    width: 100vw;
    padding: sp(s) sp(xs) sp(s) sp(xs);

    box-sizing: border-box;

    @include mq ($bp-tablet) { //768px
        justify-content: flex-end;
        padding: sp(l) 10% sp(l) 10%;
    }

    @include mq ($bp-small-desktop) { //1024px
        justify-content: flex-end;
        padding: sp(xl) 10% sp(xl) 10%;
    }

    @include mq ($bp-desktop) { //1440px
        padding: sp(xxl) 10% sp(xxl) 10%;
    }
}

.brand,
.subtitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color:$color-brown-darkest;

    padding-bottom: sp(s);

    @include mq ($bp-small-desktop) { //1024px
        padding-bottom: sp(m);
    }
}

.subtitle {
    color: $color-brown-darkest;
}

.form-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: .3rem;

    @include mq ($bp-small-desktop) { //1024px
        justify-content: end;
    }
}


input[type="text"] {
    font-family: $font-primary;
    padding-left: sp(xs);
    padding-right: sp(xs);
    height: 2em;
    width: 25rem;
    border-radius: 2px;
    border: none;
    border-bottom: 2px solid $color-brown-darken;
    background-color: $color-white;

    @include mq ($bp-small-desktop) { //1024px
        height: 3em;
        // width: 20em;
    }

    &:focus {
        border-radius: 2px;
        outline: none;
        border: 2px solid $color-brown-darken;
    }
}

button {
    background-color: $color-brown-darken;
    color: $color-black;
    padding-left: sp(xs);
    padding-right: sp(xs);
    height: 2.2em;
    border-radius: 2px;
    border: 2px solid $color-brown-darken;
    font-family: $font-primary;

    &[type="submit"]{
        color:$color-white;
    }

    @include mq ($bp-small-desktop) { //1024px
        height: 3.3em;
    }
}

