html {
    font-size: 62.5%;
}

body {
    margin: 0;
    background-color: $color-brown-lightest;
    
  }

main {
    background-image: linear-gradient(180deg, 
                     $color-brown-lightest 0%, 
                     $color-brown-lighten 26%);
                     
    padding-left: 5%;
    padding-right: 5%;

    @include mq ($bp-small-desktop) { //1024px
        padding-left: 10%;
        padding-right: 10%;
    }
  }