html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: $color-brown-lightest;
  min-height: 100vh;
  position: relative;
}

main {
  background-color: $color-brown-lightest;

  padding-left: 5%;
  padding-right: 5%;

  @include mq($bp-small-desktop) {
    //1024px
    padding-left: 10%;
    padding-right: 10%;
  }
}

footer {
  padding-top: 10%;
  display: flex;
  justify-content: center;
}
