/*---VARIABLES DE COLOR---*/

        /*----colores---*/

        $color-green-darken:      #69CB94;
        $color-green:             #76E3A7;
        $color-green-lighten:     #D2EED3;

        $color-yellow:            #ffffb2;
        $color-yellow-lighten:    #FEFEDE;
        $color-yellow-lightest:   #fefef3;

        $color-white:             #ffffff;
        $color-black:             #1B171C;


        /*----Variables de color para BG----*/

        $background-color-color-green-darken:     #69CB94;
        $background-color-color-green:            #76E3A7;
        $background-color-color-green-lighten:    #D2EED3;

        $background-color-color-yellow:           #ffffb2;
        $background-color-color-yellow-lighten:   #FEFEDE;
        $background-color-color-yellow-lightest:  #fefef3;

        $background-color-color-white:            #ffffff;
        $background-color-color-black:            #1B171C;


/*---VARIABLES DE TIPOGRAFÍA---*/

        /*----familia de fuente----*/

        $font-primary: 'Marcellus', serif;
        $font-headings: 'Abril Fatface', cursive;

        /*----tamaños de fuente----*/

        $font-size-xxs: 1.4rem; // 14px
        $font-size-xs:  1.8rem; // 18px
        $font-size-s:   2.0rem; // 20px
        $font-size-m:   2.4rem; // 24px
        $font-size-l:   3.6rem; // 36px
        $font-size-xl:  4.8rem; // 48px
        $font-size-xxl: 6.4rem; // 64px


/*-----MÁRGENES Y PADDINGS-----*/

        $margins: (
                "xxs":   1.2,
                "xs":    2.4,
                "s":     3.6,
                "m":     4.8,
                "l":     6.0,
                "xl":    10.8,
                "xxl":   12.0,
                "giant": 20
        );

        @function sp($margin) {
                @return map-get($margins, $margin) * 1rem;
        }
